.vip-bg-alt {
    background: #F4F4F4;
}
.message-label, .vip-section-description .vip-product-info .vip-stock-select .stock-string, .vip-section-description .info-message {
    display: block;
    margin: 5px 0;
    color: #999;
}
.button {
    margin: 10px 0;
}
[class*="vip-section-"] {
    padding: 6px 0;
}
.short-description .vip-section-header {
    text-align: center;
    text-indent: 50px;
    padding: 15px 0;
}
.short-description .vip-section-header .vip-title-main {
    font-weight: 400;
    margin: 10px 0;
    font-size: 2.3em;
    position: relative;
    color: #333;
    line-height: 1.2em;
}
.vip-section-description {
    text-align: center;
    margin: auto;
}
.vip-section-description .vip-container {
    border-bottom: 1px solid #ccc;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 17px;
    position: relative;
}
.vip-section-description .vip-gallery-container {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.vip-section-description .vip-gallery-container .vip-gallery {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
}
.vip-section-description .vip-gallery-container .vip-gallery .product-gallery {
    margin: 0 auto 25px;
    text-align: center;
    min-height: 50%;
    position: relative;
    padding-right: 554px;
    overflow: hidden;
    width: 42px;
}
.vip-section-description .vip-product-info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 480px;
    min-width: 390px;
    margin-left: -4px;
    padding-left: 30px;
}
.vip-section-description .vip-product-info .vip-price-container .vip-price {
    font-size: 2.8em;
    margin-bottom: 5px;
}
.vip-section-description .vip-product-info .vip-price-container > legend {
    display: none;

}
.vip-section-description .vip-product-info > fieldset {
    padding: 10px 0;
}
.vip-section-description .vip-product-info .vip-stock-select {
    overflow: visible;
    display: inline-block;
    vertical-align: top;
}
.vip-section-description .vip-product-info .vip-stock-select.quantity-selection {
    padding-bottom: 0;
}
.vip-section-description .vip-product-info .vip-stock-select .stock-string {
    float: none;
    min-width: 50%;
}
.vip-section-description .vip-product-info .vip-stock-select .stock-string .stock-quantity, .vip-section-description .vip-product-info .vip-stock-select .stock-string .stock-payment {
    width: 24%;
}
.vip-section-description .info-message {
    font-style: italic;
}

.more-product-list img {
    max-width: 100%;
}
.more-product-list .ch-carousel-item {
    width: 100px;
    height: 100px;
    padding: 3px;
    background-color: #f4f4ef;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.tab-container {
    margin: 0 auto;
    position: relative;
}

.tab-container #tab1,
.tab-container #tab2,
.tab-container .tab-content {
    clear: both;
    padding-top: 10px;
    display: none;
}

.tab-container .tab-content h3 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
}

.tab-container label {
    display: block;
    float: left;
    padding: 15px;
    color: #757575;
    cursor: pointer;
    text-align: center;
}

.tab-container [id^="tab"]:checked + label {
    background: #f4f4ef;
    -webkit-box-shadow: inset 0 3px #dcd9b4;
    box-shadow: inset 0 3px #dcd9b4;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
    display: block;
    padding: 18px;
    background: #f4f4ef;
    border-bottom: 2px solid #dcd9b4;
}

.tab-container .tab-content p,
.tab-container .tab-content h3,
.tab-container .tab-content li {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.questions-list {
    clear: both;
}

.questions-list li {
    margin-bottom: 25px;
}

.questions-list .question {
    background: #ddd;
    padding: 5px 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.questions-list .question .content {
    padding-left: 20px;
}

.questions-list .question .answer-content {
    font-style: italic;
}

.questions-list .question label {
    display: none;
}

.questions-list .see-more {
    text-align: center;
}